.repoVisualizerPage {
    border: 1px solid black;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.orgTitle {
    border-bottom: 1px solid grey;
    text-align: center;
    font-weight: bold;
    font-size:xx-large;
    width: 100vw;
    padding: 20px;
}   

.repoList {
    background-color: whitesmoke;
    padding: 20px;
    list-style-type: none;
    overflow: scroll;
}

.repoInfo {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
    margin-bottom: 10px;
}

.repoTitles {
    font-weight: bold;
}

.commitList {
    /* border: 1px solid blue; */
    height: 50vh;
    overflow: scroll;
    background-color: whitesmoke;
    border-radius: 10px;
}

.commitInfo {
    border: 1px solid lightgrey;
    background-color: white;
    box-shadow: 1px 1px black;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
}

.commitButton{
    text-align: center;
    margin: 5px;
    background-color: whitesmoke;
    padding: 5px;
    width: 200px;
    border-radius: 15px;
}

.commitButton:hover {
    background-color: lightgrey;
}

.clickable:hover{
    cursor: pointer;
}

.highlighted{
    color: blue;
    text-decoration-color: blue;
}

.grid{
    display: grid;
    grid-template-columns: auto 1fr auto 2fr;
    gap: 10px;
}

.gridSpanCol{
    grid-column: 1/5;
}