.repoVisualizerPage {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.orgTitle {
    border: 1px solid red;
    text-align: center;
    font-weight: bold;
    font-size:xx-large;
    width: 80vw;
    padding: 20px;
}   

.repoList {
    border: 1px solid blue;
    background-color: whitesmoke;
    padding: 20px;
    width: 80vw;
    list-style-type: none;
    overflow: scroll;
}

.repoInfo {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    
}

.commitInfo {
    border: 1px solid lightgrey;
    background-color: white;
    box-shadow: 1px 1px black;
    margin-top: 10px;
    margin-left: 5%;
    padding: 10px;
    border-radius: 10px;
}
